<!-- Content heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<!-- Message block -->
<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
  <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
    <% }) %>
  </ul>
  <% } %>

<div class="management-view">
  <h1>Welcome <%= account_firstname %></h1>
  <p>You're logged in.</p>
  <a href="/account/update">Edit Account Information</a>
  <% if (locals.accountData.account_type == "Admin" || locals.accountData.account_type == "Employee") { %>
    <h1>Inventory Management</h1>
    <a href="/inv">Management Inventory</a>
  <% } %>
</div>