<!-- Content heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<!-- Message block -->
<%- messages() %>

<!-- Form -->
<div class="form">
  <form action="/account/register" method="post">
    <fieldset>
      <legend>Register</legend>
      <div class="information">
        <p class="register-name">Register</p>
        <label for="account_firstname">First Name:</label>
        <input type="text" id="account_firstname" name="account_firstname" title="Your first name" autocapitalize="given-name" required>

        <label for="account_lastname">Last Name:</label>
        <input type="text" id="account_lastname" name="account_lastname" title="Your last name" autocomplete="family-name" required>

        <label for="account_email">Email:</label>
        <input type="email" id="account_email" name="account_email" title="Your email address" placeholder="Enter a valid email address" autocomplete="email" required>
        
        <label for="account_password">Password:</label>
        <span class="password">Password must be at least 12 characters, contain at least 1 capital letter, contain at least 1 number, and contain at least 1 special character.</span>
        <input type="password" id="account_password" name="account_password" title="Enter a valid password" autocomplete="current-password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
        <span id="show-password">Show Password</span>
        
        <input type="submit" value="Register">
        </p>
      </div>
    </fieldset>
  </form>
</div>
