<h1 class="welcome-message">Welcome to CSE Motors!</h1>
<div id="hero-image-container">
  <div class="hero-image-textbox">
    <p class="hero-image-text"><strong id="hero-image-title">DMC Delorean</strong><br>3 Cup holders<br>Superman doors<br>Fuzzy dice!</p>
    <button><strong>Own Today</strong></button>
  </div>
  <!-- <img src="/images/vehicles/delorean.jpg" alt="Delorean Hero Image" loading="lazy" width="500" height="255"> -->
</div>
<section id="main-content">
  <div class="reviews-container">
    <h2>DMC Delorean Reviews</h2>
    <ul>
      <li>"So fast it's almost like traveling in time." (4/5)</li>
      <li>"Coolest ride on the road." (4/5)</li>
      <li>"I'm feeling McFly!" (5/5)</li>
      <li>"The most futuristic ride of our day." (4.5/5)</li>
      <li>"80's livin and I love it!" (5/5)</li>
    </ul>
  </div>
  <div class="upgrades-session">
    <h2>Delorean Upgrades</h2>
    <div class="upgrades-containers">
      <div class="upgrades flux">
        <figure>
          <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor image" width="65" height="65">
          <!-- <figcaption><a href="/" title="Flux Capacitor upgrade link">Flux Capacitor</a></figcaption> -->
        </figure>
        <a href="/" title="Flux Capacitor upgrade link">Flux Capacitor</a>
      </div>
      <div class="upgrades flame">
        <figure>
          <img src="/images/upgrades/flame.jpg" alt="Flame Decals image" width="65" height="82">
          <!-- <figcaption><a href="/" title="Flame Decals upgrade link">Flame Decals</a></figcaption> -->
        </figure>
        <a href="/" title="Flame Decals upgrade link">Flame Decals</a>
      </div>
      <div class="upgrades bumper">
        <figure>
          <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers image" width="65" height="57">    
          <!-- <figcaption><a href="/" title="Bumper Stickers upgrade link">Bumper Stickers</a></figcaption> -->
        </figure>
        <a href="/" title="Bumper Stickers upgrade link">Bumper Stickers</a>
      </div>
      <div class="upgrades hub">
        <figure>
          <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps image" width="65" height="65">
          <!-- <figcaption><a href="/" title="Hub Caps upgrade link">Hub Caps</a></figcaption> -->
        </figure>
        <a href="/" title="Hub Caps upgrade link">Hub Caps</a>
      </div>
    </div>
  </div>
</section>