/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

#top-header a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

#top-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.site-name {
  font-size: 2rem;
}

.site-name a {
  color: #203349;
}

#tools a {
  color: black;
}

.header-nav ul {
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #203349;
  display: flex;
  font-family: sans-serif;
}

.header-nav ul li {
  padding: 5px;
}

.nav-ul a {
  text-decoration: none;
  color: white;
}

.header-nav ul li:hover {
  background-color: white;
}

.nav-ul a:hover {
  color: black;
}

.welcome-message, #hero-image-container, #main-content {
  font-family: "Roboto Slab";

}

.welcome-message {
  font-family: "Roboto Slab";
  font-size: 1.3rem;
  font-weight: 700;
}

#hero-image-container {
  background: url("/images/vehicles/delorean.jpg") no-repeat center center / contain;
  width: 350px;
  height: 179px;
  position: relative;
  font-family: "Roboto Slab";
  margin: 0 auto;
}

.hero-image-textbox {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  color: #00ADD0;
  font-size: 0.85rem;
  font-weight: 600;
}

#hero-image-title {
  font-weight: 900;
  font-size: 1.05rem;
}

.hero-image-text {
  margin: 0;
  padding-bottom: 5px; 
}

.hero-image-textbox button {
  padding: 0.5rem;
  background-color: #00ADD0;
  border: none;
  border-radius: 0.2rem;
}

#hero-image-container img{
  width: 100%;
  height: 100%;
}

.reviews-container ul {
  padding-left: 20px;
}

.reviews-container ul li {
  padding-bottom: 0.9rem;
}

.upgrades-containers {
  display: grid;
  gap: 0.8rem;
  grid-template-columns: auto auto;
  min-width: 342px;
  max-width: 342px;
}

.upgrades {
  min-height: 135px;
  max-width: 150px;
  min-width: 150px;
  text-align: center;
}

.upgrades-containers figure {
  display: flex;
  justify-content: center;
  background-color: #00ADD0;
  align-items: center;
  width: 100%;
  margin: 0;
  min-height: 114px;
  border: solid 1px black;
}

.upgrades-containers figure img {
  margin: 1rem;
}

/* ---------------- Large View ---------------- */

@media (min-width: 500px) {
  body {
    max-width: 500px;
  }

  .welcome-message {
    font-size: 1.5rem;
  }

  #hero-image-container {
    width: 450px;
    height: 255px;
    position: relative;
  }

  #hero-image-title {
    font-size: 1.3rem;
  }

  .hero-image-textbox {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .hero-image-textbox button {
    font-size: 1rem;
    padding: 1rem;
  }

  .reviews-container, .upgrades-containers {
    margin: 0 auto;
  }
}

@media (min-width: 502px) {
  body {
    margin: 0 auto;
  }
}

@media (min-width: 750px) {
  html {
    background: url("/images/site/small_check.jpg") no-repeat center center / cover;
    background-attachment: fixed;
  }

  body {    
    max-width: 700px;
    margin: 0 auto;
  }

  #wrapper {
    background-color: white;
    border: solid 0.3rem #00ADD0;
    border-radius: 0.6rem;
    padding: 1rem;
    margin: 1rem;
  }

  .header-nav ul {
    justify-content: space-around;
  }

  #main-content {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 2rem;
  }

  h2 {
    padding: 2rem 0;
  }

  .reviews-container ul li {
    padding-bottom: 1.8rem;
  }
  
}
