/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

#top-header a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

#top-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.site-name {
  font-size: 2rem;
}

.site-name a {
  color: #203349;
}

#tools a {
  color: black;
}

.header-nav ul {
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #203349;
  display: flex;
  font-family: sans-serif;
}

.header-nav ul li {
  padding: 5px;
}

.nav-ul a {
  text-decoration: none;
  color: white;
}

.header-nav ul li:hover {
  background-color: white;
}

.nav-ul a:hover {
  color: black;
}

.notice {
  color: red;
  font-style: italic;
  font-weight: bold;
  font-family: "Roboto Slab";
}

.welcome-message, #hero-image-container, #main-content, h1, .namePrice, .vehicle-name {
  font-family: "Roboto Slab";

}

.welcome-message {
  font-family: "Roboto Slab";
  font-size: 1.3rem;
  font-weight: 700;
}

#hero-image-container {
  background: url("/images/vehicles/delorean.jpg") no-repeat center center / contain;
  width: 350px;
  height: 179px;
  position: relative;
  font-family: "Roboto Slab";
  margin: 0 auto;
}

.hero-image-textbox {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  color: #00ADD0;
  font-size: 0.85rem;
  font-weight: 600;
}

#hero-image-title {
  font-weight: 900;
  font-size: 1.05rem;
}

.hero-image-text {
  margin: 0;
  padding-bottom: 5px; 
}

.hero-image-textbox button {
  padding: 0.5rem;
  background-color: #00ADD0;
  border: none;
  border-radius: 0.2rem;
}

#hero-image-container img{
  width: 100%;
  height: 100%;
}

.reviews-container ul {
  padding-left: 20px;
}

.reviews-container ul li {
  padding-bottom: 0.9rem;
}

.upgrades-containers {
  display: grid;
  gap: 0.8rem;
  grid-template-columns: auto auto;
  min-width: 342px;
  max-width: 342px;
}

.upgrades {
  min-height: 135px;
  max-width: 150px;
  min-width: 150px;
  text-align: center;
  margin: 0 auto;
}

.upgrades-containers figure {
  display: flex;
  justify-content: center;
  background-color: #00ADD0;
  align-items: center;
  width: 100%;
  margin: 0;
  min-height: 114px;
  border: solid 1px black;
}

.upgrades-containers figure img {
  margin: 1rem;
}

#inv-display {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  gap: 2rem;

}

.vehicles {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.vehicles img {
  border-radius: 1rem;
}

.namePrice {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.namePrice hr {
  width: 100%;
  border: none;
  background-color: black;
  height: 2px;
}

.namePrice span, h2 {
  margin: 0 auto;
}

.vehicle-detail{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.vehicle-image {
  display: flex;
  flex-direction: column;
}

.vehicle-name {
  margin: 0;
  padding-bottom: 0.8rem;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.description p {
  margin: 0;
  font-family: sans-serif;
  padding: 10px;
}

.price {
  font-weight: bold;
}

.price, .color {
  background-color: rgba(128, 128, 128, 0.2);
}

fieldset {
  border-radius: 0.8rem;
  border: 2px solid gray;
  background-color: rgb(25, 71, 124);
  margin: 0 auto;
  padding: 1.2rem;
}

fieldset legend {
  display: none;
}

.information {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

input:required:invalid {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 5px solid red;
  background-color: rgb(250, 213, 213);
}

input:valid {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 5px solid green;
  background-color: white;
}

label, .register, input[type="submit"], .password {
  color: white;
  font-family: "Roboto Slab";
}

#account_email::placeholder {
  color: rgb(63, 63, 63);
}

.password {
  font-weight: 300;
  font-style: italic;
  
}

#account_firstname, #account_lastname, #account_email, #account_password {
  border-radius: 0.3rem;
  padding: 0.3rem;
}

input[type="submit"] {
  border-radius: 0.8rem;
  border: 1px solid;
  margin: 0 auto;
  padding:  0.3rem 0.8rem;
  color: black;
}

.register {
  text-align: center;
  margin: 0;
}

.register a {
  color: white;
}

.required-fields, #show-password {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Roboto Slab";
}

#show-password {
  font-size: 1rem;
  font-weight: normal;
  cursor: pointer;
}

.error-message, .copyright, footer a {
  font-family: sans-serif;
}
/* ---------------- Large View ---------------- */

@media (min-width: 500px) {
  body {
    max-width: 500px;
  }

  .welcome-message {
    font-size: 1.5rem;
  }

  #hero-image-container {
    width: 450px;
    height: 255px;
    position: relative;
  }

  #hero-image-title {
    font-size: 1.3rem;
  }

  .hero-image-textbox {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .hero-image-textbox button {
    font-size: 1rem;
    padding: 1rem;
  }

  .reviews-container, .upgrades-containers {
    margin: 0 auto;
  }

  #inv-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .vehicles {
    max-height: 245px;
    min-height: 245px;
    border: solid 1px rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    max-height: 300px;
    min-height: 300px;
  }

  .vehicles a {
    width: 100%;
    max-height: 150px;
    min-height: 150px;
  }

  .vehicles img {
    width: 100%;
  }

  .namePrice h2 {
    font-size: 1.2rem;
    padding: 0;
    text-align: center;
  }

  .form {
    max-width: 25rem;
    margin: 0 auto;
  }

  fieldset {
    padding: 1.2rem 4rem;
  }
}

@media (min-width: 502px) {
  body {
    margin: 0 auto;
  }
}

@media (min-width: 750px) {
  html {
    background: url("/images/site/small_check.jpg") no-repeat center center / cover;
    background-attachment: fixed;
  }

  body {    
    max-width: 700px;
    margin: 0 auto;
  }

  #wrapper {
    background-color: white;
    border: solid 0.3rem #00ADD0;
    border-radius: 0.6rem;
    padding: 1rem;
    margin: 1rem;
  }

  .header-nav ul {
    justify-content: space-around;
  }

  #main-content {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 2rem;
  }

  h2 {
    padding: 2rem 0;
  }

  .reviews-container ul li {
    padding-bottom: 1.8rem;
  }
  
  #inv-display {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .namePrice {
    gap: 0.6rem;
  }

  .namePrice hr {
    height: 4px;
  }

  .vehicle-detail {
    flex-direction: row;
  }

  .vehicle-image {
    width: 50%;
  }
}
