<!-- Content heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<!-- Message block -->
<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
  <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
    <% }) %>
  </ul>
  <% } %>

<!-- Form -->
<div class="form">
  <form action="/inv/add-classification" method="post">
    <fieldset>
      <legend>Classification Name</legend>
      <div class="information">
        <!-- <h1 class="classification">Classification Name</h1> -->
        <label for="classification_name">Classification Name</label>
        <!-- <p class="required-fields">All fields are required.</p> -->
        <span class="info">NAME MUST BE ALPHABETIC CHARACTERS ONLY.</span>
        <input type="text" id="classification_name" name="classification_name" title="Classification name" required value="<%= locals.classification_name %>">
        
        <input type="submit" value="Add Classification">
      </div>
    </fieldset>
  </form>
</div>
